@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("Space Grotesk"),
         url("./SpaceGrotesk-Regular.woff2") format("woff2"),
         url("./SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: local("Space Grotesk"),
         url("./SpaceGrotesk-Light.woff2") format("woff2"),
         url("./SpaceGrotesk-Light.woff") format("woff");
}

@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local("Space Grotesk"),
         url("./SpaceGrotesk-Medium.woff2") format("woff2"),
         url("./SpaceGrotesk-Medium.woff") format("woff");
}

@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local("Space Grotesk"),
         url("./SpaceGrotesk-SemiBold.woff2") format("woff2"),
         url("./SpaceGrotesk-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local("Space Grotesk"),
         url("./SpaceGrotesk-Bold.woff2") format("woff2"),
         url("./SpaceGrotesk-Bold.woff") format("woff");
}
